<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Avanssur.Automation.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Avanssur.Automation.Utils.Properties.Settings>
            <setting name="LogsFilePath" serializeAs="String">
                <value>C:\Temp\Logs\tasklogs.txt</value>
            </setting>
        </Avanssur.Automation.Utils.Properties.Settings>
    </applicationSettings>
</configuration>