<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Avanssur.Automation.GuiTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Avanssur.Automation.GuiTests.Properties.Settings>
            <setting name="BaseUrlGui" serializeAs="String">
                <value>https://www.google.pl/maps/</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>Edge</value>
            </setting>
        </Avanssur.Automation.GuiTests.Properties.Settings>
    </applicationSettings>
</configuration>